<?xml version="1.0"?>
<!--
/**
 * RequestDesk Q&A Admin Routes
 *
 * @category  RequestDesk
 * @package   RequestDesk_Qa
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="requestdesk_qa" frontName="requestdesk_qa">
            <module name="RequestDesk_Qa" before="Magento_Backend"/>
        </route>
    </router>
</config>
